.current {
    border-bottom-color: #0f6124 !important;
}

.btn-link{
   color: #0f6124 !important;
}

.btn-primary{
   color: white !important;
   background-color: #282973 !important;
   border-color: #282973 !important;
}

.btn-outline,.btn-secondary{
  color: #282973 !important;
  border-color: #282973 !important;
}

.login-wrapper .login .login-group .btn{
   margin-top: 1rem !important;
}

.version{
  display: none !important;
}

vdr-welcome-widget p {
    display: none;
}